## Deliverable 3. Create a Travel Itinerary Map.

In [179]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [180]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,5,Port-Gentil,GA,80.60,scattered clouds,-0.72,8.78,Fengshui Residence
1,7,Hilo,US,75.20,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
2,9,Rawatsar,IN,90.36,scattered clouds,29.28,74.38,Honda Service Center
3,10,Bafq,IR,88.81,clear sky,31.61,55.41,Alamdar Hotel
4,14,Bathsheba,BB,86.00,shower rain,13.22,-59.52,Atlantis Hotel
5,21,Komsomolskiy,UZ,77.00,clear sky,40.43,71.72,Ikathouse
6,23,Kapaa,US,78.80,overcast clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
7,26,Sili,CN,81.14,clear sky,28.40,117.17,Jiangchuan Hotel
8,30,North Myrtle Beach,US,84.99,few clouds,33.82,-78.68,Avista Resort
9,33,Jamestown,US,75.99,broken clouds,42.10,-79.24,Hampton Inn & Suites Jamestown

In [181]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [182]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [183]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["Hotel Name"]=='DouroVou Aluguer de Barcos e Bungalows - Yacht Charter', :]
vacation_end_df = vacation_df.loc[vacation_df["Hotel Name"]=='DouroVou Aluguer de Barcos e Bungalows - Yacht Charter', :]
vacation_stop1_df = vacation_df.loc[vacation_df["Hotel Name"]=='Casa Maquia', :]
vacation_stop2_df = vacation_df.loc[vacation_df["Hotel Name"]=='Hotel Vila Galé Cascais', :] 
vacation_stop3_df = vacation_df.loc[vacation_df["Hotel Name"]=='Hotel Barra', :]

In [184]:
vacation_start_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
43,147,Custoias,PT,84.51,scattered clouds,41.11,-7.32,DouroVou Aluguer de Barcos e Bungalows - Yacht...

In [185]:
print(type(vacation_start_df))

<class 'pandas.core.frame.DataFrame'>

In [186]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np

start = vacation_start_df[["Lat", "Lng"]].to_numpy()
end = vacation_end_df[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1_df[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2_df[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3_df[["Lat", "Lng"]].to_numpy()

In [187]:
print(start, end, stop1, stop2, stop3)

[[41.11 -7.32]] [[41.11 -7.32]] [[40.16 -8.33]] [[38.7  -9.42]] [[40.62 -8.73]]

In [188]:
print(type(start))

<class 'numpy.ndarray'>

In [189]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets

start_point = (41.11, -7.31)
end_point = (41.11, -7.31)
stop1_point = (40.11, -8.31)
stop2_point = (38.71, -9.41)
stop3_point = (40.61, -8.71)

fig = gmaps.figure()
starttoend = gmaps.directions_layer(start_point, end_point, waypoints=[stop1_point, stop2_point, stop3_point], 
                                    stroke_color='blue', stroke_weight=3.0, stroke_opacity=.5, travel_mode='DRIVING')

fig.add_layer(starttoend)


fig

Figure(layout=FigureLayout(height='420px'))

In [190]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_end_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,147,Custoias,PT,84.51,scattered clouds,41.11,-7.32,DouroVou Aluguer de Barcos e Bungalows - Yacht...
1,147,Custoias,PT,84.51,scattered clouds,41.11,-7.32,DouroVou Aluguer de Barcos e Bungalows - Yacht...
2,337,Lata,PT,82.99,scattered clouds,40.16,-8.33,Casa Maquia
3,151,Cascais,PT,79.00,few clouds,38.70,-9.42,Hotel Vila Galé Cascais
4,565,Gafanha Da Encarnacao,PT,82.00,scattered clouds,40.62,-8.73,Hotel Barra

In [191]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [192]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))